.container {
  background-color: #e9eff4;
}

.header {
  padding: 10px;
  background-color: #fafafa;
  border-bottom: 1px solid #e5e5e5;
}

.details {
  margin-left: 10px;
}

.title {
  font-weight: bold;
}

.link {
  font-size: 12px;
  color: #9d9d9d;
  margin-bottom: 4px;
  &:hover {
    text-decoration: underline;
  }
}

.labels {
  margin-top: 6px;
}

.label {
  display: flex;
  align-items: center;
  font-size: 9px;
  padding: 0 7px 1px 7px;
  border-radius: 14px;
  height: 14px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  & + & {
    margin-left: 4px;
  }
}

.issue-body {
  padding: 24px;
  overflow: hidden;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
}
