.container {
  margin: 5px;
  border-bottom: 1px solid #d9e0e6;
  background-color: #fff;
}

.header {
  padding: 10px;
  background-color: #fafafa;
}

.username {
  margin-left: 10px;
  font-size: 14px;
  color: silver;
}

.body {
  flex-shrink: 0;
  padding: 10px;
  border-top: 1px solid #e8e8e8;
}

.comment-body {
  padding: 10px;
}
