.container {
  height: 38px;
  padding-right: 10px;
  background-color: #fafafa;
  -webkit-app-region: drag;
  background-image: linear-gradient(
    #ededed 0,
    #ededed 1px,
    #e7e7e7 2px,
    #d1d1d1 100%
  );
  border-bottom: 1px solid #afafaf;
  font-size: 13px;
  position: relative;
}

.item-container {
  padding: 0 5px;
  align-items: center;
  > div >  * + * {
    margin-left: 7px;
  }
}

.button {
  z-index: 1;
  min-width: 40px;
  overflow: visible;
  position: relative;
  padding: 2px 7px 4px;
  min-height: 22px;
  border: none;
  background: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 1px;
  -webkit-app-region: no-drag;

  &:after {
    z-index: -1;
    background-image: linear-gradient(#FCFCFC, #F1F1F1);
    box-shadow: 0 1px 0 #FDFDFD inset;
    border-radius: inherit;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &:before {
    z-index: -1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1));
    border-radius: inherit;
    content: '';
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
  }

  &:active {
    &:after {
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
      background-image: linear-gradient(#E5E5E5, #DCDCDC);
    }
  }

  .icon + span {
    margin-left: 5px;
  }

  .icon {
    color: #737373;
    position: relative;
    top: 1px
  }
}
