$item-height: 28px;

.container {
  padding: 0 0 10px 0;
  font-size: 14px;
  background-color: transparent;
  overflow-y: auto;

  [class^='window-inactive'] & {
    background-color: #f6f6f6;
  }
}

.group-label {
  height: $item-height;
  padding: 5px 10px;
  color: #6d7a88;
  letter-spacing: 0.5px;
  font-size: 10px;
  text-transform: uppercase;
}

.item {
  height: $item-height;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.item-selected {
  composes: item;
  background-color: #9faab8;

  .count {
    background-color: #5c6877;
    color: #fff;
  }
}

.icon {
  margin-right: 7px;
}

.item-label {
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 10px;
  font-size: 12px;
}

.count {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  background-color: hsla(200, 10%, 50%, 0.2);
  border-radius: $item-height;
  min-width: $item-height - 5;
  height: $item-height - 10;

  font-size: 11px;
  padding: 0 6px 2px;
}
